<div class="container">
{{#each Blog}}
<div class="card" style="width: 18rem;">
  <img src="{{Image}}" class="card-img-top" alt="{{Headline}}">
  <div class="card-body">
  <a href="{{URL}}"><h5 class="card-title">{{Headline}} </h5></a>  
    <a href="#" data-id= {{_id}} class="saveButton btn btn-primary">Save Blog</a>
  </div>
</div>
{{/each}}
</div>




